/* 
font-family: 'Aref Ruqaa Ink', serif;
font-family: 'The Girl Next Door', cursive;
*/
h2{
    color: red;
    font-family: Aref Ruqaa Ink;
}
p {
    font-family:'The Girl Next Door'; cursive;.
    font-weight: 700px 
}
